@import './base.css';

#app {
  width:100vw;
  /* padding: 2rem; */
 
}

body{
  font-size:16px;
  line-height:24px;
  color:#464646;
  
  background-color: #ece8e8;
  font-family: "Inter",sans-serif;
  font-weight: 700;
  font-style: normal;
}

.wrapper{
  max-width: 1280px;
  flex:1;
  height:100%;
  margin: 0 auto;
}

main{
  min-height:90vh;
  padding-bottom:10vh;
}
h1,h2,h3,h4,h5,h6{
  /* color:rgba(10,10,10,1); */
}

p{
  font-size:18px;
  line-height: 32px;
  font-weight: 500;
  /* color:rgb(70, 70, 70); */

}
a,
.green {
  text-decoration: none;
  color:rgb(70, 70, 70);
  
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}
